<!--Navbar-->
<mdb-navbar class="custom-nav" SideClass="navbar navbar-expand-lg navbar-light" [containerInside]="false">

	<!-- Navbar brand -->
	<mdb-navbar-brand>
		<!-- <a class="navbar-brand" href="#">Navbar</a> -->
		<a class="navbar-brand" href="#">
			<img src="assets/logo.png" height="45" alt="">
		</a>
	</mdb-navbar-brand>

	<!-- Collapsible content -->
	<links>

		<!-- Links -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<a class="nav-link waves-light" mdbWavesEffect routerLink="/">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<a class="nav-link waves-light" mdbWavesEffect>Trips</a>
			</li> 
			<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<a class="nav-link waves-light" mdbWavesEffect routerLink="/profile">Profile</a>
			</li>
		</ul>
		<!-- Links -->

		<ul class="navbar-nav ml-auto nav-flex-icons">
			<li class="nav-item">
				<a class="nav-link">
					<fa-icon [icon]="faPlusCircle"></fa-icon>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/profile">
					<fa-icon [icon]="faUser"></fa-icon>
				</a>
			</li>

		</ul>
	</links>
	<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->