											/* Form */
form {
	width: 40%;
	margin: 4% 30% 0 30%;
}

/* Input */
mat-form-field {
	width: 100%;
}

/* Search button */
#search-btn {
	float: right;
}


/* screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
												/* Form */
	form {
		width: 60%;
		margin: 4% 20% 0 20%;
	}
}

/* screens less than 600px */
@media screen and (max-width: 600px) {
												/* Form */
	form {
		width: 90%;
		margin: 4% 5% 0 5%;
	}
}