
<div class="container">
    <img class="center" src="{{user.image}}" alt=""/>

    <div class="name">
        <p>{{user.name}}</p>
    </div>

    <br>
    <br>
    
    <table cellspacing="0" cellpadding="0">
    <tr>
        <td><p class="label">Phone number:</p></td> 
        <td><p class="data">{{user.number}}</p></td>
    </tr>

    <tr>
        <td><p class="label">Safe word:</p></td>
        <td>
            <input class="data" value="{{user.safe_word}}" [type]="hide ? 'password' : 'text'" style="border: none;">
            <mat-icon class="placeholder" (click)="myFunction()" style="margin-left: -70px;
            cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </td>
    </tr>
    </table>

    <table id="icons" cellspacing="0" cellpadding="0">
        <td><img class="carIcon" src="assets/myCar.png"></td>
        <td><img class="angelIcon" src="assets/angel.png"  [routerLink]="['/wheretonow','guardians']"></td>
    </table>

</div>