<!-- <div class="card"> -->
    <img src="{{user.image}}" alt="Avatar" style="width:200px" class="center"/>

    <div class="name">
    <h1>{{user.name}}</h1>
    </div>
    
    <table cellspacing="0" cellpadding="0">
    <tr>
        <td><h4>Phone number:</h4></td> 
        <td><p>{{user.number}}</p></td>
    </tr>

    <tr>
        <td><h4>Safe word:</h4></td>
        <td><p>{{user.password}}</p></td>
        <!-- <td>
             <input id="password-field" type="password" class="form-control" name="password" value="secret">
        </td>

        <td>
            <input type="checkbox" onclick="showSaveWord()">Show Password
        </td> -->
        

    </tr>
    </table>

    <table class="icons" cellspacing="0" cellpadding="0">
        <td><img class="carIcon" src="assets/myCar.png"></td>
        <td><img class="angelIcon" src="assets/angel.png"  [routerLink]="['/wheretonow','guardians']"></td>
    </table>
    

<!-- </div> -->
            
